@import 'setting.scss';

$bgAppBar: #0067a3;

.navbar-app{
  height: $navbar-app-height;
  padding-left: $gap;
  display: flex;
  align-items: center;
  background-color: $bgAppBar;
  font-size: 1.3rem;
}