@import 'setting.scss';

$bgList: #ecebf0;

$column-header-height:46px;
$column-footer-height:46px;
$column-boarder-radius:5px;
$card-boarder-radius:4px;

.column{
    flex: 0 0 auto;
    margin-bottom: 5px;
    width: 300px;
    height: calc(100% - #{$gap});
    &:not(:first-child){
      margin-left: $gap;
    }
    
    > * {
      background-color: #ecebf0;
      padding: 0 8px;
      color: #333;
    }
    header{
      padding-left: 15px;
      height: $column-header-height;
      line-height: $column-header-height;
      font-size: 16px;
      font-weight: bold;
      border-top-left-radius: $column-boarder-radius;
      border-top-right-radius: $column-boarder-radius;
    }
    footer{
      padding-left: $gap;
      height: $column-footer-height;
      line-height: $column-footer-height;
      border-bottom-left-radius: $column-boarder-radius;
      border-bottom-right-radius: $column-boarder-radius;
    }
    ul.task-list{
      list-style-type: none;
      margin: 0;
      max-height: calc(100% - #{$column-header-height} - #{$column-footer-height});
      overflow-y: auto;

      &::-webkit-scrollbar{
        -webkit-appearance: none;
      }
      &::-webkit-scrollbar:vertical{
        width: 11px;
      }
      &::-webkit-scrollbar-thumb{
        background-color: darken($color: $bgList, $amount: 15);
        border-right: 5px solid $bgList;
      }
      li.task-item{
        background-color: white;
        padding: $gap;
        border-radius: $card-boarder-radius;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        &:not(:last-child){
          margin-bottom: $gap;
        }
        img{
          display: block;
          width: calc(100% + 2 * #{$gap});
          margin: -$gap 0 $gap (-$gap);
          border-top-left-radius: $card-boarder-radius;
          border-top-right-radius: $card-boarder-radius;
        }
      }
    }
  }